* {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
}

.bd {
    min-height: 100vh;
    
}

.main-date {

    display: flex;
    margin: 2rem 1rem;
    background: #10202D;
    color:white;
    font-weight: 700;
    font-size: larger;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
  
}


.scroll {

    height: 400px;
    overflow: scroll;
}

