* {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: #ccd0cf;
  width: 260px;
  padding: 24px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  transition: all ease-in-out .3s;
}

.sidebar.hiden {
  
  width: 87px;
  transition: all ease-in-out .3s;
}

.main-content {
  background-color: #eeeeee;
  flex-grow: 1;
 
}

.sidebar .description-header {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

.sidebar.hiden .description-header {
  display: none;
}

.sidebar a {
  text-decoration: none;
}

.sidebar .header .list-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 10px;
  border-radius: 8px;
  height: 40px;
  box-sizing: border-box;
}

.sidebar .header .list-items .icons {
  margin-right: 12px;
}

.sidebar .header .illustration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin: 10px 0 22px 0;
  box-sizing: border-box;
}

.sidebar.hiden .illustration {

  display: none;
}

.sidebar .main .list-items .description {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

.sidebar.hiden .main .list-items .description {

  display: none;
}

.sidebar .main .list-items .icons {
  margin-right: 12px;
}

.sidebar .main .list-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 10px;
  border-radius: 8px;
  box-sizing: border-box;
  transition: all ease-in-out 0.2s;
}

.sidebar .main .list-items:hover {
  background: #495a6a;
  transition: all ease-in-out 0.2s;
  border-radius: 8px;
  color: #10202d;
}

.card-content .card .card-body {
 
  background-color: #ccd0cf;
}

.background-content {

  background: #eeeeee;
  width: 100%;
}

/* Toggle */

#menu-button {
  width: 32px;
  position: absolute;
  overflow: hidden;
}

#menu-label {
  position: relative;
  display: block;
  height: 20px;
  cursor: pointer;
}

#menu-checkbox {
  display: none;
}

#hamburger,
#menu-label:after,
#menu-label:before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #10202d;
}

#menu-label:after,
#menu-label:before {
  content: "";
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) left;
}

#menu-label:before {
  top: 0;
}

#menu-label:after {
  top: 8px;
}

#hamburger {
  top: 16px;
}

#hamburger:before {
  content: "Menu";
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  color: #10202d;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

#menu-checkbox:checked + #menu-label:before {
  left: -39px;
}

#menu-checkbox:checked + #menu-label:after {
  left: 39px;
}

#menu-checkbox:checked + #menu-label #hamburger::before {
  animation: moveUpThenDown 0.8s ease 0.2s forwards,
    shakeUp 0.8s ease 0.2s forwards, shakedown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown {
  0% {
    top: 0%;
  }
  50% {
    top: -27px;
  }
  100% {
    top: -14px;
  }
}

@keyframes shakeUp {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(0);
  }
  75% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

@keyframes shakedown {
  0% {
    transform: rotateZ(0);
  }
  80% {
    transform: rotateZ(3deg);
  }
  90% {
    transform: rotateZ(-3deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
