@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
}

.page-content {
    background: #485969;
    width: 100%;
    color:#eeee ;
}

.text-header {
    margin-top: 10px;
    text-align: center;
}

.text-header h1 {
  font-weight: 700;
}

.paragraf {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.paragraf p{
  font-weight: 400;
  font-size: 28px;
}

.container {
  margin-top: 5px;
  
}

.copyright {
  margin-top: 100px;
}

.accreditation-text {
    position: relative;
    display: inline-block;
}

.random-char {
    display: inline-block;
    opacity: 0.7;
    transition: all 0.1s ease;
}

.final-char {
    font-weight: bold;
    transform: scale(1.2);
}
