
body {

    font-family:"Ubuntu", sans-serif;
    background:linear-gradient(90deg,#495a6a, #10202d );
        
}

.container {

    
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #ccd0cf;
}

.login-class {
   
    max-width: 420px;
    width: 90%;
    border-radius: 20px;
}

.login-class h3 {

    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
}

.fa-solid {

    position: relative;
    left: 21em;
    bottom: -3px;
    top: 100%;
    transform: translateY(-2em);
    color: black;
    padding-left: 2px;
}

.login-class::placeholder {
  
   padding: 4px;
}

.btn {

    position: relative;
    align-items: center;
    width: 100%;
    height: 48px;
    background: #ccd0cf;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #10202d;
    font-weight: 600;
}

.btn:hover {

    background: #10202d;
}
